
# Ignore environment variables
VAP/.env

# Ignore Node.js dependencies if you install them later
VAP/node_modules

# Ignore log files
*.log

# Ignore OS-specific files (like macOS)
.DS_Store

VAP/credentials.json